# Python
__pycache__/
*.py[oc]
wheels/
*.egg-info
uv.lock

# Build artifacts
build/
build/*
release/
release/*
dist/
dist/*

# Local environment overrides
.env.local

# JavaScript
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
package-lock.json


# Virtual environments
.venv

# IDE
.vscode/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
